# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TestHotkeys.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\src\wauto\TestHotkeys\.idea\.idea.TestHotkeys\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
